body {
    margin: 0;
    padding: 0;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 100%;
    font-display: swap;
}

header > .container {
    background-color: #262626;
    height: 100px;
}

.logo {
    display: inline-block;
    margin-left: 15%;
    width: 107px;
    height: 33px;
    margin-top: 35px;
    background: center url("../img/logo.png") no-repeat;
}

nav {
    display: inline-block;
    float: right;
    margin-right: 15%;
    margin-top: 40px;
}

nav > a {
    margin-right: 50px;
    text-decoration: none;
    color: #d9d9d9;
    font-family: 'latoblack', sans-serif;
    font-size: 13px;
}

nav > a:first-child {
    color: #ff6760;
}

nav > a:last-child {
    margin: 0;
}

nav > a:hover {
    color: #ff6760;
}

.slider > .container {
    height: 496px;
    background-color: #2a2a2a;
}

.slider_capture {
    display: inline-block;
    max-width: 70%;
    margin-left: 15%;
    padding: 0;
    text-align: center;
    color: #d9d9d9;
}

.slider_capture > h1 {
    font-family: 'latolight', sans-serif;
    font-size: 60px;
}

.slider_capture > h1 > strong {
    font-family: 'latoblack', sans-serif;

}

.slider_capture > p {
    font-family: 'latolight', sans-serif;
    font-size: 40px;
}

.slider_capture > p > em {
    font-family: 'latolight_italic', sans-serif;
}

.slider_button {
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    max-width: 198px;
    max-height: 50px;
    box-sizing: border-box;
    padding: 18px 0;
    text-align: center;
    color: white;
    background-color: #ff6760;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    font-family: 'latoblack', sans-serif;
}

.slider_button:hover {
    box-shadow: inset 0 0 20px -2px #2a2a2a;
    transition: box-shadow 0.3s ease;
}

.services .container {
    height: 370px;
    background-color: #f8f8f8;
}

.services > .container > div {
    float: left;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 3%;
    max-width: 15%;
    height: 370px;
    text-align: center;
    font-size: 14px;
    font-family: 'latoregular', sans-serif;
    color: #909090;
}

.services > .container > .service1 {
    margin-left: 15%;
}

.services > .container > .service4 {
    margin-right: 0;
}

.services > .container > div > p {
    margin-top: 210px;
}

.services > .container > .service1 {
    background: center 90px url("../img/service1.png") no-repeat;
}

.services > .container > .service2 {
    background: center 90px url("../img/service2.png") no-repeat;
}

.services > .container > .service3 {
    background: center 90px url("../img/service3.png") no-repeat;
}

.services > .container > .service4 {
    background: center 90px url("../img/service4.png") no-repeat;
}

.portfolio > .container {
    background-color: white;
    text-align: center;
    min-height: 900px;
}

.portfolio_capture {
    display: block;
    margin: auto;
    margin-top: 60px;
    padding: 0;
    text-align: center;
    color: #616161;
    font-family: 'latolight', sans-serif;
    font-size: 20px;
}

.portfolio_capture h2 {
    font-family: 'latoblack', sans-serif;
    font-size: 30px;
}

.portfolio_capture p {
    margin-top: -5px;
}

.portfolio input {
    visibility: hidden;
}

.portfolio label {
    display: inline-block;
    background-color: #ff6760;
    border-radius: 5px;
    padding: 11px 20px;
    text-align: center;
    color: white;
    font-family: 'latoblack', sans-serif;
    font-size: 12px;
    margin-left: -20px;
}

.portfolio .label1 {
    margin-left: 0;
}

.portfolio #button1:hover + .label1,
.portfolio #button2:hover + .label2,
.portfolio #button3:hover + .label3,
.portfolio #button4:hover + .label4 {
    box-shadow: inset 0 0 17px -3px #2a2a2a;
    transition: box-shadow 0.5s;
}

.portfolio #button1:active + .label1,
.portfolio #button2:active + .label2,
.portfolio #button3:active + .label3,
.portfolio #button4:active + .label4 {
    box-shadow: inset 0 0 25px -1px #2a2a2a;
    transition: box-shadow 0.3s ease;
}

.portfolio #button1:checked + .label1,
.portfolio #button2:checked + .label2,
.portfolio #button3:checked + .label3,
.portfolio #button4:checked + .label4 {
    background-color: #595959;
    transition: background-color 1s;
}

.portfolio_imgs {
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-left: 15%;
    width: 70%;
}

.portfolio_imgs div {
    display: inline-block;
    padding: 0;
    margin: 5px;
    position: absolute;
    top: -9999px;
    left: -9999px;
    opacity: 0;
    transition: opacity 3s;
}

.portfolio #button1:checked ~ .portfolio_imgs > div {
    position: static;
    opacity: 1;
}

.portfolio #button2:checked ~ .portfolio_imgs > .graphic {
    position: static;
    opacity: 1;
}

.portfolio #button3:checked ~ .portfolio_imgs > .illustration  {
    position: static;
    opacity: 1;
}

.portfolio #button4:checked ~ .portfolio_imgs > .motion  {
    position: static;
    opacity: 1;
}

footer .container {
    height: 286px;
    background-color: #313131;
    text-align: center;
}

footer .caption {
    color: #afafaf;
    display: inline-block;
    margin-top: 55px;
    padding: 0;
}

footer .caption > h3 {
    margin-top: 0px;
    color: #e0e0e0;
    font-size: 30px;
    font-family: 'latoblack', sans-serif;
}

footer .caption > p {
    font-size: 20px;
    font-family: 'latolight', sans-serif;
}

footer .phone-geo {
    display: block;
}

footer .phone-geo a {
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    color: #afafaf;
    font-size: 14px;
    font-family: 'latoregular', sans-serif;
}

footer .phone-geo .geo {
    background: left url("../img/geo.png") no-repeat;
}

footer .phone-geo .phone {
    background: left url("../img/phone.png") no-repeat;
}

footer .soc-links {
    margin-top: 30px;
    display: block;
}

footer .soc-links a {
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    background-image: url("../img/contacts_sprite.png");
}

footer .soc-links .rss { background-position:  -0 -0; }
footer .soc-links .facebook { background-position: -30px -0; }
footer .soc-links .twitter { background-position: -60px -0; }
footer .soc-links .pinkshit { background-position: -90px -0; }
footer .soc-links .pinterest { background-position: -120px -0; }

.copyright .container {
    height: 82px;
    background-color: #282828;
    text-align: center;
}

.copyright .container  p {
    display: inline-block;
    margin-top: 30px;
    padding: 0;
    font-size: 14px;
    font-family: 'latoregular', sans-serif;
    color: #afafaf;
}


@media screen and (max-width: 1230px) {
    .logo {
        margin-left: 5%;
    }

    nav {
        margin-right: 5%;
    }

    .portfolio > .container {
        min-height: 800px;
    }
    .portfolio_imgs {
        margin: auto;
        width: 75%;
    }

    .portfolio_imgs div {
        margin-top: 10px;
        width: 30%;
    }

    .portfolio_imgs img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 850px) {
    header > .container {
        height: 300px;
    }

    nav {
        margin-right: 5%;
    }

    nav > a {
        margin-right: 0;
        display: block;
        font-size: 16px;
        margin-top: 40px;
    }

    nav > a:first-child {
        margin-top: 0px;
    }

    nav > a:last-child {
        margin-top: 40px;
    }

    .slider > .container {
        height: 300px;
    }

    .slider_capture > h1,
    .slider_capture > h1 > strong {
        font-size: 35px;
    }

    .slider_capture > p,
    .slider_capture > p > em {
        font-size: 17px;
    }

    .slider_button {
        margin-top: 50px;
    }

    .services .container {
        height: 720px;
        text-align: center;
    }

    .services > .container > div {
        float: none;
        display: block;
        max-width: 50%;
        height: 180px;
        font-size: 14px;
        margin: auto;
        margin-top: 0;
        padding: 1px;
    }

    .services > .container > .service1 {
        margin: auto;
    }

    .services > .container > .service4 {
        margin: auto;
    }

    .services > .container > div > p {
        margin-top: 100px;
    }

    .services > .container > .service1 {
        background: center 20px url("../img/service1.png") no-repeat;
    }

    .services > .container > .service2 {
        background: center 20px url("../img/service2.png") no-repeat;
    }

    .services > .container > .service3 {
        background: center 20px url("../img/service3.png") no-repeat;
    }

    .services > .container > .service4 {
        background: center 20px url("../img/service4.png") no-repeat;
    }

    .portfolio_capture {
        font-size: 18px;
    }

    .portfolio_capture h2 {
        font-size: 25px;
    }

    .portfolio label {
        display: block;
        max-width: 45%;
        margin: auto;
        padding: 17px 17px;
        font-size: 14px;
        margin-top: -15px;
    }

    .portfolio .label1 {
        margin: auto;
    }

    .portfolio_imgs {
        width: 90%;
    }

    footer .container {
        height: 380px;
    }

    footer .caption {
        margin-top: 40px;
    }

    footer .caption > h3 {
        font-size: 23px;
    }

    footer .caption > p {
        font-size: 16px;
    }

    footer .phone-geo {
        display: block;
    }

    footer .phone-geo a {
        display: block;
        padding: 20px 0;
        font-size: 14px;
        height: 50%;
    }

    footer .phone-geo .geo {
        background: center bottom url("../img/geo.png") no-repeat;
    }

    footer .phone-geo .phone {
        margin-top: 20px;
        background: center bottom url("../img/phone.png") no-repeat;
    }

    footer .soc-links {
        margin-top: 45px;
    }

    footer .soc-links a {
        margin-right: 25px;
    }

    footer .soc-links .pinterest {
        background-position: -120px -0;
        margin-right: 0;
    }

    .copyright .container {
        height: 55px;
    }

    .copyright .container  p {
        margin-top: 20px;
    }
}

@media screen and (max-width: 620px) {
    header > .container {
        height: 290px;
    }

    nav > a {
        font-size: 14px;
    }

    .slider > .container {
        height: 280px;
    }

    .portfolio > .container {
        min-height: 800px;
    }

    .portfolio_capture {
        max-width: 70%;
    }

    .portfolio label {
        max-width: 40%;
        padding: 15px 15px;
        font-size: 13px;
        margin-top: -15px;
    }

    .portfolio_imgs {
        margin-left: 5%;
    }

    .portfolio_imgs div {
        display: inline-block;
        width: 30%;
    }
}

@media screen and (max-width: 500px) {
    nav > a {
        font-size: 14px;
    }

    .slider_capture > h1,
    .slider_capture > h1 > strong {
        font-size: 30px;
    }

    .slider_capture > p,
    .slider_capture > p > em {
        font-size: 14px;
    }

    .slider > .container {
        height: 260px;
    }

    .slider_capture {
        max-width: 90%;
        margin-left: 5%;
        margin-top: 5px;
    }

    .slider_button {
        margin-top: 45px;
        max-width: 150px;
        max-height: 40px;
        padding: 18px 0;
        font-size: 13px;
    }

    .services .container {
        height: 620px;
    }

    .services > .container > div {
        max-width: 90%;
        height: 150px;
        font-size: 13px;
    }

    .portfolio_capture {
        font-size: 16px;
        max-width: 90%;
    }

    .portfolio_capture h2 {
        font-size: 20px;
    }

    .portfolio label {
        max-width: 40%;
        padding: 15px 15px;
        font-size: 13px;
        margin-top: -15px;
    }
}
